/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* Global styles */
html {
    font-family: Verdana;
    display: inline-block;
}

body {
    background-color: black;
    text-align: center;
    justify-content: center;}

video {
    padding: 20px 0px 10px 0px;
}

a {
    color: aquamarine;
    font-size: 16px;
 }

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
    padding: 2rem 0 2rem 0;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    padding: 1.2rem 0 1.5rem 0;
}

h3 {
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

div {
    margin-bottom: 20px;
}

footer {
    text-align: right;
    color: gray;
}
